<div  flex="100" layout-margin="50">

<h1>How to use this thing?</h1>
 <p>The main point of this site, is to provide accurate Thaumcraft research helper, usable on every modern device - Updates will be handled by community,
     as there is built-in version creator. Every logged in user, can do adjustments, and publish his version for everyone else to use.</p>

<h3>Research helper <a href="/helper">"HELPER"</a></h3>
 <p> After subscribing to desired version, it will appear on main page (place where sad creeper was when You first visited)
    <br> You can start researching from now on - <b>Just click/touch on first aspect, and then on second</b> it will appear on right side, as selected aspects. Clicking Search button will open POPUP with results

 </p>

<h5>Banning aspect</h5>
<p> You can easly make script avoid aspect, that You don't want - just click/touch desired icon for second or two - it will turn red, and from now on, it will never appear in search results</p>

<h5>Deepth of search</h5>
<p> Do You see this pretty slider under search button? This thing makes script search deeper for more connections - naturally there are thousands possible connections, so, increasing this slider too much, is going to hurt Your PC really bad. <br>
To be fair, every chain, can be completed with depth of 3 - You should always multiply pair of cheapest elements to extend chain so it can reach its target</p>


<h3>Comments</h3>
<p>Every list got its own comments section - if You made yourself account, You will be able to send message - everyone who subscribed to that list will be able to see it - this work basically as chat.</p>

<h3>Creating Your own version</h3>
<p>If You want, You can create Your own list - it will appear in version list only for You, untill You mark it as public.<br>
There are few possibilities there - You can Import list from other version, and modify it as You want, or just create it from scratch - its Your choice <br>
If Your list is invalid aspects that doesnt have parents will be marked on red, for ease of fixing. clicking on aspect in editor, will bring on options - You can delete aspect or upload custom image from there.
    <br> There are default images for base thaumcraft (and forbidden magic) so if You name new aspect like 'aer' it will automatically set as original aer icon.<br>
Your list will be marked with Your USERNAME and avatar - if You choose to upload one in <a href="/profile">PROFILE</a> panel
</p>

</div>