<div class="flexbox-parent" layout="row" flex="100">
    <div layout="row" layout-align="center center" flex="100" style="min-height: 500px">
        <div flex="30" layout="column" class="layout-centered" >
            <div layout="row" layout-fill layout-margin>
                <p class="md-body-2"> Sign in with your email OR username</p>
            </div>

            <form name="loginForm" layout="column" layout-fill layout-padding layout-margin>
                <md-input-container>
                    <label> Email/username </label>
                    <input type="text" ng-model="login.credentials.email" aria-label="email" required/>
                </md-input-container>
                <md-input-container>
                    <label> Password </label>
                    <input type="password" ng-model="login.credentials.password" aria-label="password" required/>
                </md-input-container>
                <div layout="row" layout-align="  center">

                    <md-button class="md-raised md-primary" ng-click="login.login()" aria-label="login"
                               ng-disabled="login.loginForm.$invalid()">Sign In
                    </md-button>
                </div>
            </form>
            <md-toolbar ng-show="login.error" class="md-warn" layout="row" layout-fill layout-padding layout-margin>
                <p class="md-body-1">{{ login.error }}</p>
            </md-toolbar>
            <md-divider></md-divider>
            <div layout="row" layout-align="center">
                <a class="md-button" href="/register">Need an account?</a>
            </div>

        </div>

    </div>
</div>



